/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor/*
!/vendor/laravel/framework/src/Illuminate/Database/Eloquent/Model.php
!*/vendor/laravel/framework/src/Illuminate/Database/Eloquent/Model.php
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode
